$primary-color: #e78282;
$secondary-color: #eed789;
$third-color: #95e1d3;
$title-color: #333333;
$text-color: #999999;
$gray-color: #f8f8f8;
$gray-dark-color: #d2d2d2;
$gray-light: #f5f5f5;

$third-font: 'Kaushan Script', cursive;
$primary-fonts:  'Montserrat', sans-serif;
$secondary-fonts: 'Roboto', sans-serif;

$wrapper: 1920px;
$container: 1200px;

