extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	h2(class='heading' id='heading') Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ad assumenda doloremque voluptatem maiores, natus voluptatibus molestias rerum laborum asperiores itaque autem suscipit dolorum nihil veritatis corrupti et sit voluptate.
	input(type='text', name='email', placeholder="please enter your name")
	form(action="", method="get") 
